@page "/"

<div class="row">
    <div class="col-md-4">
        <a href="/stockchart" class="btn btn-primary">StockChart</a>
    </div>
    <div class="col-md-4">
        <DxComboBox Data="@Cities"
                    AllowUserInput="true"
                    NullText="Select City ..."
                    @bind-Value="@Value"
                    @bind-Text="@Text">
        </DxComboBox>
    </div>    
</div>

        

        <DxChart Data="@forecasts" LabelOverlap="ChartLabelOverlap.Hide">
            <DxChartTitle Text="Weather Forecast">
                <DxChartSubTitle Text="(10 days)" />
            </DxChartTitle>
            <DxChartArgumentAxis>
                <DxChartAxisTitle Text="Date" />
                <DxChartAxisLabel Format="ChartAxisLabelFormat.ShortDate" />
            </DxChartArgumentAxis>
            <DxChartValueAxis>
                <DxChartAxisTitle Text="Precipitation, mm" />
            </DxChartValueAxis>
            <DxChartValueAxis Name="Temperature" Position="HorizontalEdge.Right">
                <DxChartAxisTitle Text="Temperature, C" />
            </DxChartValueAxis>
            <DxChartBarSeries ArgumentField="@((WeatherForecast i) => i.Date)"
                              ValueField="@((WeatherForecast i) => i.Precipitation)"
                              Name="Precipitation">
                <DxChartSeriesLabel Visible="true" />
            </DxChartBarSeries>
            <DxChartLineSeries ArgumentField="@((WeatherForecast i) => i.Date)"
                               ValueField="@((WeatherForecast i) => i.TemperatureC)"
                               Name="Temperature"
                               Axis="Temperature">
                <DxChartSeriesPoint Symbol="ChartPointSymbol.Polygon" Size="20" />
                <DxChartSeriesLabel Visible="true">
                    <DxChartSeriesLabelConnector Visible="true" Width="2" />
                </DxChartSeriesLabel>
            </DxChartLineSeries>
            <DxChartLegend Orientation="Orientation.Horizontal"
                           HorizontalAlignment="HorizontalAlignment.Right"
                           Position="RelativePosition.Outside" />
        </DxChart>





@code {

    IEnumerable<string> Cities = new List<string>() {
        "London",
        "Berlin",
        "Paris",
    };

    string Text { get; set; } = "New York";
    string Value { get; set; }


    public class WeatherForecast
    {
        public DateTime Date { get; set; }
        public int TemperatureC { get; set; }
        public double Precipitation { get; set; }
    }

    private WeatherForecast[] forecasts;

    protected override void OnInitialized()
    {
        forecasts = GetForecast();
    }

    private Starship starship = new Starship();
    bool PopupVisible { get; set; } = false;
    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
        PopupVisible = true;
    }
    private void HandleInvalidSubmit()
    {
        Console.WriteLine("OnInvalidSubmit");
    }

    public WeatherForecast[] GetForecast()
    {
        WeatherForecast[] forecasts = new WeatherForecast[] {
                new WeatherForecast() { Date = new DateTime(2020, 05, 11), TemperatureC = 20,
                                        Precipitation = 5},
                new WeatherForecast() { Date = new DateTime(2020, 05, 12), TemperatureC = 22,
                                        Precipitation = 1.2},
                new WeatherForecast() { Date = new DateTime(2020, 05, 13), TemperatureC = 18,
                                        Precipitation = 0.8},
                new WeatherForecast() { Date = new DateTime(2020, 05, 14), TemperatureC = 19,
                                        Precipitation = 0},
                new WeatherForecast() { Date = new DateTime(2020, 05, 15), TemperatureC = 14,
                                        Precipitation = 3.3},
                new WeatherForecast() { Date = new DateTime(2020, 05, 16), TemperatureC = 15,
                                        Precipitation = 1.7},
                new WeatherForecast() { Date = new DateTime(2020, 05, 17), TemperatureC = 18,
                                        Precipitation = 1},
                new WeatherForecast() { Date = new DateTime(2020, 05, 18), TemperatureC = 23,
                                        Precipitation = 0},
                new WeatherForecast() { Date = new DateTime(2020, 05, 19), TemperatureC = 21,
                                        Precipitation = 4.4},
                new WeatherForecast() { Date = new DateTime(2020, 05, 20), TemperatureC = 20,
                                        Precipitation = 8.5},
            };
        return forecasts;
    }
}