@page "/stockchart"

@if (StockList==null)
{
<p>Loading...</p>
}
else
{
<DxChart Data="@StockList"
         CssClass="mw-1100">
    <DxChartCandlestickSeries ValueField="@((StockQuote i) => i.Value)" ArgumentField="@(i => i.Date)"/>  
    <DxChartArgumentAxis>
        <DxChartAxisLabel Format="ChartAxisLabelFormat.ShortDate" />
    </DxChartArgumentAxis>
    <DxChartTooltip>
        @context.GetFinancialPoint().Render((financialPoint) =>
                        @<div class="p-3">
                            <p>Open: @financialPoint.OpenValue</p>
                            <p>Close: @financialPoint.CloseValue</p>
                            <p>High: @financialPoint.HighValue</p>
                            <p>Low: @financialPoint.LowValue</p>
                        </div>
)
    </DxChartTooltip>
</DxChart>
}


@code {

    public class StockQuote
    {
        public decimal Value { get; set; }
        public DateTime Date { get; set; }
    }

    StockQuote[] StockList;

    protected override void OnInitialized()
    {
        StockList = GetStocks();
    }

    public StockQuote[] GetStocks()
    {
        StockQuote[] list = new StockQuote[] {
              new StockQuote() { Date = new DateTime(2020, 05, 11), Value = 20 },
                new StockQuote() { Date = new DateTime(2020, 05, 11), Value = 23 },
                new StockQuote() { Date = new DateTime(2020, 05, 11), Value = 19 },
                new StockQuote() { Date = new DateTime(2020, 05, 11), Value = 21 },
                new StockQuote() { Date = new DateTime(2020, 05, 12), Value = 21 },
                new StockQuote() { Date = new DateTime(2020, 05, 12), Value = 19 },
                new StockQuote() { Date = new DateTime(2020, 05, 12), Value = 24 },
                new StockQuote() { Date = new DateTime(2020, 05, 12), Value = 22 },
                new StockQuote() { Date = new DateTime(2020, 05, 13), Value = 22 },
                new StockQuote() { Date = new DateTime(2020, 05, 13), Value = 19 },
                new StockQuote() { Date = new DateTime(2020, 05, 13), Value = 28 },
                new StockQuote() { Date = new DateTime(2020, 05, 13), Value = 27 },
                new StockQuote() { Date = new DateTime(2020, 05, 14), Value = 27 },
                new StockQuote() { Date = new DateTime(2020, 05, 14), Value = 13 },
                new StockQuote() { Date = new DateTime(2020, 05, 14), Value = 30 },
                new StockQuote() { Date = new DateTime(2020, 05, 14), Value = 20 },


            };
        return list;
    }
}